#fontmani
{
    font-size: 45px;
}
#font_para
{
    font-size: 40px;
    width: 100%;
    margin: 0px;
}
.heading
{
box-shadow: 10px 5px 10px grey;
}
.copy_right_footer
{
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color: grey;
line-height: 3;
font-size: 20px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}   